global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'microservices-monitor'

scrape_configs:
  - job_name: 'admin-server'
    metrics_path: '/admin/actuator/prometheus'
    static_configs:
      - targets: ['admin-server:8080']
        labels:
          application: 'admin-server'

  - job_name: 'eureka-server'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['eureka-server:8761']
        labels:
          application: 'eureka-server'

  # Service discovery through Eureka
  - job_name: 'microservices'
    eureka_sd_configs:
      - server: 'http://eureka-server:8761/eureka'
    relabel_configs:
      - source_labels: [__meta_eureka_app_name]
        target_label: application
      - source_labels: [__meta_eureka_app_instance_metadata_management_context_path]
        target_label: __metrics_path__
        regex: (.+)
        replacement: ${1}/prometheus